@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_MenuPartialView" />




@section Scripts{
    <script type="text/javascript">
        alert("hosgeldin developer");  //ana mantıgı rendersection ile aynıodır oradaki isme gore section acarız ve kodları o method karsılar
    </script>
}