@{
    ViewData["Title"] = "Bu sayfa example controller Index sayfası";
    Layout = "ExampleLayout";
}
<div>
    Example controller sayfasındayız
</div>
@section header{
    <p> Bu kodlar headera eklenecek</p>
}

@section footer  {
    <p> bu kodlar footera eklenecek</p>
}



    <partial name="_MenuPartialView" />