
@{
    ViewData["Title"] = "Add";
}
@model Product   
@*MODEL YAZIP NESNEYI BELIRTMEZSEK OLMAZ*@
<h1>Add Products</h1>








<form asp-controller="Products" asp-action="Add" method="post"> @*burada guvenli olan method 'post' methodudur.kullanıcıdan veri alırken kullanırız ve daha guvenlidir.*@
    
    
    <div class="form-group">
        <label for="Name" class="form-label"> Product Name:</label>
        <input asp-for="Name" class="form-control">

    </div>
    <div class="form-group">
        <label for="Price" class="form-label">Product Price:</label>
        <input asp-for="Price" class="form-control">

    </div>
    <div class="form-group">
        <label for="Stock" class="form-lavel"> Product Stock:</label>
        <input asp-for="Stock" class="form-control">

    </div>
    <div class="form-group">
       <label for="Color" class="form-label" >Product Color:</label>
        @* <input asp-for="Color" class="form-control">*@
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option class="mt-3" value="">Renk Seciniz</option>
        </select>

    </div>




    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label for="Color" class="form-label"> is Publish?</label>
            <div class="input-group-text">
              
                <input type="checkbox" asp-for="isPublish">
            </div>
        </div>
       
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Leave a comment here" ></textarea>
        <label asp-for="Description">Comments</label>
    </div>

    <div class="form-group">
        <label for="Date" class="form-label"> Date Time:</label>
        <input asp-for="Date" class="form-control" placeholder="datetutla">

    </div>

    <button type="submit" class="btn btn-primary">Add Product</button>
    


</form>

